@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*Common*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 26px;
}
.img-fluid{
    width: 100%;
}
a {
    color: #28a745;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #ffe35b;
    text-decoration: underline;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.mt-3 {
    margin-top: 30px!important;
}
.mt-2 {
    margin-top: 20px!important;
}
section{
    position: relative;
    overflow: hidden;
}
li.nav-item.active {
    
    background-color: #ffe35b;
    border-radius: 5px;
}
.dropdown-item.active, .dropdown-item:active {

    background-color: #ffe35b;
    border-radius: 5px;
}
.breadcrumb-item.active {
    color: #21252f;
  
}
li.breadcrumb-item {
   color: #6c757d;
}
.breadcrumb {
    margin-bottom: 0px;
}
input.custom-btn.btn-1{
    width: fit-content;
    height: auto;
    line-height: 36px;
    padding: 0px 15px;
    border: none;
    background: linear-gradient(0deg, rgb(40 167 69) 0%, #28a745 100%);
}
a.custom-btn{
    
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }

  a.btn-1{
    width: fit-content;
    height: auto;
    line-height: 36px;
    padding: 0px 15px;
    border: none;
    background: linear-gradient(0deg, rgb(40 167 69) 0%, #28a745 100%);
}
  a.btn-1:hover {
    color: #28a745;
    background: transparent;
     box-shadow:none;
  }
  a.btn-1:before,
  a.btn-1:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #28a745;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  a.btn-1:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  a.btn-1:hover:before,
  a.btn-1:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  button.custom-btn.btn-1{
    width: fit-content;
    height: auto;
    line-height: 36px;
    padding: 0px 15px;
    border: none;
    background: linear-gradient(0deg, rgb(40 167 69) 0%, #28a745 100%);
    border-radius: 5px;
  }


  button.custom-btn.btn-1:hover {
    color: #28a745;
    background: transparent;
     box-shadow:none;
  }
  button.custom-btn.btn-1:before,
  button.custom-btn.btn-1:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #28a745;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }


  input.form-control.max {
    width: 30%;
}
  .form-control {
    border: 1px solid #ffe45b56;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    text-align: left;
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    padding-left: 25px;
}
.form-control .center {
    text-align: center;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffe35b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%);
}
::placeholder{
color:#f8f8f8
}


/*header*/

img.logo-img {
    width: 160px;
    height: auto;
}
header {
    background: #fff;
    box-shadow: 0px 9px 12px 0px rgb(50 50 50 / 34%);
    padding: 10px 0px;
}
.bg-primary {
    background-color: #ffe35b!important;
}
.form-inline .form-control {
    border: none;
}
a.signin {
    padding: 0px 10px;
    color: #28a745;
    font-size: 16px;
}
a.nav-link {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .5px;
    margin: 0px 5px;
    color: #4f4d4d;
}

.search-container {
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    height: 30px;
    line-height: 10px;
    padding: 10px;
    font-weight: 600;
    color: #28ac52;
    width: 30px;
    border-radius: 45px;
    vertical-align: bottom;
    border: 1px solid #28a745;
    
}

.searchbutton {
    position: absolute;
    font-size: 22px;
    width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 45px;
    top: -1px;
    right: -1px;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: #ffde59;
	color: black;
}

.search {
    position: absolute;
    right: 0px;
    background-color: #ffde59;
    outline: none;
    border: none;
    top: 1px;
    padding: 0px;
    width: 0px;
    height: 100%;
    z-index: 10;
    transition-duration: 0.4s;
    border-radius: 45px;
}
.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}
.search:focus {
	width: 175px; 
	padding: 0 0px 0 10px;
}

.expandright {
	left: auto;
	right: 49px; 
}

.expandright:focus {
	padding: 0 0 0 16px;
}
.mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    line-height: 36px;
    padding-left: 5px;
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.navbar-toggler {
    background-color: #00000040;
}
.navbar-toggler.x[aria-expanded="true"] {
    padding: 10px 5px 10px 10px;
}
.navbar-toggler.x {
    border: 1px solid #28a745;
    padding: 10px 10px 10px 10px;
}
.navbar-toggler.x:focus {
    outline: none;
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}
.navbar-toggler.x .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-toggler.x .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
li.nav-item {
    margin: 0px -1px;
}
a.dropdown-item {
    padding: 10px 15px;
}
li.nav-item a {
    position:relative;
    z-index: 1;
  }
  li.nav-item a:hover {
    color: rgb(255 255 255);
}
  li.nav-item a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  li.nav-item a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  
  
/*footer*/
footer {
    padding: 50px 0px 30px 0px;
    background: #0c180e;
    color: #fff;
}
.foot-bottom {
    text-align: center;
    margin-top: 30px;
}
footer a {
    color: #dfdfdf;
}
footer p {
    color: #dfdfdf;
}


/*Home*/
section.featured-blogs {
    padding: 50px 10px;
    background: #f9ffcb;
}
section.featured-blogs  h1{
    font-size: 36px;
    display: block;
    padding-bottom: 8px;
    color: #28a745;
    position: relative;
    font-family: lato;
    font-weight: 100;
    margin-bottom: 25px;
}
section.featured-blogs  h1:after{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    border-top: 2px solid #A0A0A0;
}
section.featured-blogs h2 {
    font-size: 30px;
    padding-top: 15px;
}
section.featured-blogs h4 {
    font-size: 22px;
}

section.featured-blogs .box-1 {
    margin-bottom: 20px;
}
.box-2 {
    margin-bottom: 20px;
}
section.latest-post {
    padding: 50px 0px;
    background: #fff;
}
section.latest-post h1{
    font-size: 36px;
    display: block;
    padding-bottom: 8px;
    color: #28a745;
    position: relative;
    font-family: lato;
    font-weight: 100;
    margin-bottom: 25px;
}
section.latest-post h1:after{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    border-top: 2px solid #A0A0A0;
}

.card {
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 20px;;
}
.card-block{
    padding: 20px;
}
.popular-box {
    display: flex;
}
.popular-Number span {
    font-weight: 600;
    line-height: 40px;
    font-size: 36px;
    padding-right: 25px;
    color: #ffe35b;
    margin-top: -11px;
}
.popular-details {
    margin-bottom: 30px;
}
.box-3 {
    scroll-behavior: smooth;
    overflow: hidden;
    height: 1185px;
    overflow-y: scroll;
}

.box-4, .box-5 {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px ;
}
section.work-ethics{
    padding: 50px 0px;
    background: #ffffff;
}
section.work-ethics h1{
    font-size: 36px;
    display: block;
    padding-bottom: 8px;
    color: #28a745;
    position: relative;
    font-family: lato;
    font-weight: 100;
    margin-bottom: 25px;
}
section.work-ethics h1:after{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    border-top: 2px solid #A0A0A0;
}
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
    width: 100%;
	list-style: none;
	text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: auto;
    max-height: fit-content;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	height: max-content;
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.grid figure h2 {
	
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
figure.effect-bubba {
	background: #9e5406;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

section.parralx {
    background: url(../images/newsletter.jpg);
    text-align: center;
    padding: 50px 0px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
section.parralx h1{
    color: #fff;
}
.popular-details p {
    line-height: 24px;
}
.box-2 p {
    line-height: 24px;
}
.box-1 p {
    line-height: 24px;
}
section.trending  {
    padding: 50px 0px;
    background: #fff;
}
.tending-box {
    background: #f9ffcb;
    padding: 20px;
    text-align: center;
}
section.trending h1 {
    font-size: 36px;
    display: block;
    padding-bottom: 8px;
    color: #28a745;
    position: relative;
    font-family: lato;
    font-weight: 100;
    margin-bottom: 25px;
}
section.trending h1:after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    border-top: 2px solid #A0A0A0;
}
section.trending-technologies  {
    padding: 50px 10px;
    background: #f8f8f8;
}
section.trending-technologies h1{
    font-size: 36px;
    display: block;
    padding-bottom: 8px;
    color: #28a745;
    position: relative;
    font-family: lato;
    font-weight: 100;
    margin-bottom: 25px;
}
section.trending-technologies h1:after{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    border-top: 2px solid #A0A0A0;
}
section.trending-technologies h3{
    font-size: 22px;
    margin-bottom: 10px;
}
section.trending-technologies .card{
  min-height: 315px;
}
section.trending-technologies h3 {
    font-size: 22px;
    margin-bottom: 10px;
    background: #ffe35b;
    padding: 10px;
    text-align: center;
}
.normal-btn.hm-rgt {
    margin-top: -10px;
}
img.front-end.third {
    border-radius: 50%;
}

/*inner-page*/
.breadcrumb{
    justify-content: flex-end;
}
section.inner-page {
    padding: 50px 0px;
    background-color: #fdfdfd;
}
section.inner-page h1{
    font-size: 36px;
    display: block;
    padding-bottom: 8px;
    color: #28a745;
    position: relative;
    font-family: lato;
    font-weight: 100;
    margin-bottom: 25px;
}
section.inner-page h1:after{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    border-top: 2px solid #A0A0A0;
}
section.inner-page ul {
    list-style: none;
    margin-left: 10px;
}
section.inner-page li {
    padding-bottom: 10px;
    display: flex;
}
section.inner-page.html i.fa {
    display: flex;
    align-items: baseline;
    line-height: 26px;
    padding-right: 10px;
    color: #F1C40F;
}
section.inner-page h2 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #28a745;
}
section.inner-page h3 {
    padding-top: 15px;
    font-size: 26px;
}
section.inner-page .box-3 {
    height: 1600px;
}

.related-links {
    display: flex;
    flex-direction: row;
}
a.related-links {
    background: #ffc107;
    padding: 5px 10px;
    margin: 5px 10px;
    color: #000;
    border-radius: 10px;
}
.related-links p {
    margin: 0px;
}
section.inner-page.more.tech h3 {
font-size: 22px; margin-bottom: 10px; background: #ffe35b; padding: 10px; text-align: left;
}
section.inner-page.more h5 {
    margin-top: 20px;
}
section.inner-page.career .card .card:hover{
box-shadow: none;
transition-timing-function: ease-in-out;
transition-duration: 1s;
border: 1px solid #ffe35b;
}



